{%- liquid
  assign se_stts = section.settings
  assign style_color = se_stts.style_color_filter | replace: ' ,', ',' | replace: ', ', ',' | split: ','
  assign style_tag = se_stts.style_tag_filter | replace: ' ,', ',' | replace: ', ', ',' | split: ','
  assign style_size = se_stts.style_size_filter | replace: ' ,', ',' | replace: ', ', ',' | split: ','
  assign results = search | default: collection
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}

<link rel="stylesheet" href="{{ 'drawer.min.css' | asset_url }}" media="all">
<link rel="stylesheet" href="{{ 'facets.css' | asset_url }}" media="all">
<div
  data-filter-links
  id="t4s-filter-hidden"
  class="t4s-filter-hidden is--t4s-filter-native t4s-drawer t4s-drawer__left"
  aria-hidden="true"
>
  <div class="t4s-drawer__header">
    <span>{{ 'products.facets.filter_title' | t }}</span>
    <button class="t4s-drawer__close" data-drawer-close aria-label="{{ 'search.general.close_search' | t }}">
      <svg
        class="t4s-iconsvg-close"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-x"
      >
        <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>
  </div>

  <div class="t4s-drawer__content">
    <div class="t4s-drawer__main">
      <div data-t4s-scroll-me class="t4s-drawer__scroll t4s-current-scrollbar">
        {% render 'facets-form',
          results: results,
          style_color: style_color,
          style_tag: style_tag,
          style_size: style_size
        %}
      </div>
    </div>
    {%- if total_active_values > 1 -%}
      <div class="t4s-drawer__bottom">
        <a href="{{ results_url }}" class="t4s-mini-search__viewAll">
          {{- 'products.facets.clear_all' | t }}
          <svg width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <path d="M 18.71875 6.78125 L 17.28125 8.21875 L 24.0625 15 L 4 15 L 4 17 L 24.0625 17 L 17.28125 23.78125 L 18.71875 25.21875 L 27.21875 16.71875 L 27.90625 16 L 27.21875 15.28125 Z"/>
          </svg>
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Filter products",
  "class": "t4s-section-filter t4s-section-admn2-fixed",
  "settings": [
    {
      "type": "paragraph",
      "content": "Customize [Filter by product options](\/admin\/menus). Filter product options will be empty for collections that contain over 1000 products."
    },
    {
      "type": "checkbox",
      "label": "Hidden count",
      "id": "hidden_count",
      "default": false
    },
    {
      "type": "textarea",
      "id": "style_color_filter",
      "label": "Filter style color",
      "info": "Enter filter label, you want has style color .Separate by a comma, i.e \"label1, label2, label3\". Only active when you use 'Filter by product options'",
      "default": "Color, color, Colour , colour"
    },
    {
      "type": "textarea",
      "id": "style_tag_filter",
      "label": "Filter style tag",
      "info": "Enter filter label, you want has style tag .Separate by a comma, i.e \"label1, label2, label3\". Only active when you use 'Filter by product options'"
    },
    {
      "type": "textarea",
      "id": "style_size_filter",
      "label": "Filter style size",
      "info": "Enter filter label, you want has style tag .Separate by a comma, i.e \"label1, label2, label3\". Only active when you use 'Filter by product options'",
      "default": "Size, size"
    },
    {
      "type": "paragraph",
      "content": "If you are looking for a powerful search and filter application, FlashSearch is the one we recommend. [Install here](https://apps.shopify.com/flash-search?utm_source=Unsen&utm_medium=Search_Setting&utm_id=The4) and use discount code FLASHSEARCH20 to get 20% off all plans."
    }
  ]
}
{% endschema %}
